HF_KEY=your_huggingface_api_key_here
ANKR_SEPOLIA_RPC_URL=https://rpc.ankr.com/eth_sepolia
DEV_PRIVATE_KEY=your_developer_private_key_here
INIT_PRIVATE_KEY=your_initiator_private_key_here
ETHERSCAN_API_KEY=your_etherscan_api_key_here
